:root{
    --white: #fff;
    --black: #000;
    --red: #fa626b;
    --success: #5ed84f;
    --info: #28afd0;
    --primary: #9f78ff;
    --blue: #32cafe;
    --blueShade :#4568dc;
    --lightpink :#b06ab3;
    --col : 100%;
    --row: 100%;
    --col12: 100%;
    --col11:92%;
    --col6: 50%;
    --col7: 58%;
    --col5: 42%;
    --col8: 66%;
    --col4: 34%;
    --col9: 75%;
    --col3: 25%;
    --col10: 84%;
    --col2: 16%;
    --col1: 8%;
}

body{
    margin: 0;
    padding: 0;
    background-color: #eee;
    font-family: sans-serif;
}

.content-wrapper{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.row{
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}

::-webkit-scrollbar{
    display: none;
}

.col-12 {
    flex: var(--col12);
}
.col-11 {
    flex: var(--col11);
}

.col-10 {
    flex: var(--col10);
}
.col-9 {
    flex: var(--col9);
}
.col-8 {
    flex: var(--col8);
}
.col-7 {
    flex: var(--col7);
}
.col-6 {
    flex: var(--col6);
}
.col-5 {
    flex: var(--col5);
}
.col-4 {
    flex: var(--col4);
}
.col-3 {
    flex: var(--col3);
}
.col-2 {
    flex: var(--col2);
}

.col-sm-12 {
    flex: var(--col12);
}
.col-sm-11 {
    flex: var(--col11);
}
.col-sm-10 {
    flex: var(--col10);
}
.col-sm-9 {
    flex: var(--col9);
}
.col-sm-8 {
    flex: var(--col8);
}
.col-sm-7 {
    flex: var(--col7);
}
.col-sm-6 {
    flex: var(--col6);
}
.col-sm-5 {
    flex: var(--col5);
}
.col-sm-4 {
    flex: var(--col4);
}
.col-sm-3 {
    flex: var(--col3);
}
.col-sm-2 {
    flex: var(--col2);
}

.col-12,
.col-11,
.col-10,
.col-9,
.col-8,
.col-7,
.col-6,
.col-5,
.col-4,
.col-3,
.col-2,
.col-1 {
    padding: 0 15px;
    box-sizing: border-box;
    flex-direction: column;
}

.col-sm-12,
.col-sm-11,
.col-sm-10,
.col-sm-9,
.col-sm-8,
.col-sm-7,
.col-sm-6,
.col-sm-5,
.col-sm-4,
.col-sm-3,
.col-sm-2,
.col-sm-1 {
    padding: 0 15px;
    box-sizing: border-box;
    flex-direction: column;
}

@media screen and (max-width: 992px) {
    .col-sm-12,
    .col-sm-11,
    .col-sm-10,
    .col-sm-9,
    .col-sm-8,
    .col-sm-7,
    .col-sm-6,
    .col-sm-5,
    .col-sm-4,
    .col-sm-3,
    .col-sm-2,
    .col-sm-1 {
        flex: var(--col12);
    }
    .col-12,
    .col-11,
    .col-10,
    .col-9,
    .col-8,
    .col-7,
    .col-6,
    .col-5,
    .col-4,
    .col-3,
    .col-2,
    .col-1 {
        flex: var(--col6);
    }
    .row{
        flex-direction: column;
    }
}

a{
    text-decoration: none;
    font-size: 21px;
    font-weight: 400;
    color: var(--black);
    margin: 0;
    padding: 0;
    text-align: center;
    cursor: pointer;
    align-self: center;
}

input{
    outline: none;
    margin: 0;
    /* min-width: 300px; */
    width: 50%;
    padding: 2px 10px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, .2);
    font-size: 1.3em;
}
.nav-header{
    /* background-image: linear-gradient(to right, var(--white), var(--blue)); */
    background-image: linear-gradient(to right, var(--white), var(--white));
}

header{
    display: flex;
    /* flex-wrap: wrap; */
    margin: 0px 15px;
    justify-content: space-between;
    align-items: center;
}

#header-start{
    display: flex;
    flex-direction: row;
    flex-basis: 20%;
}

#header-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-basis: 60%;
}

#header-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-basis: 20%;
}

/* .search-icon{
    visibility: hidden;
} */

.search-icon {
    display : none;
}


.fa-search{
    color: rgba(0, 0, 0, .5);
    align-self: center;
    padding: 6px 20px;
    box-sizing: border-box;
    font-size: 20px;
    border: 1px solid rgba(0, 0, 0, .2);
}

.fa-search:hover{
    color: rgba(0, 0, 0, .8);
}

.fa-bars {
    font-size: 21px;
}

button:hover{
    background: #ddd;
}

header a {
    color: rgba(0, 0, 0, .7);
    display: block;
    padding: 18px 20px;
}


.profile-icon{
    align-self: center;
    width: 50px;
    height: 50px;
    /* margin: 10px; */
    background-image: url('images/ProfilePic.jpeg');
    /* background-color: rgba(110, 110, 109, 0.822); */
    background-size: cover;
    border-radius: 50rem!important;
    cursor: pointer;
}

/* header styling */
@media screen and (max-width : 768px) and (orientation: landscape) {
    #header-center {
        display: none;
    }
    header a {
        padding: 10px;
    }
    .profile-icon{
        width: 40px;
        height: 40px;
        margin: 5px;
        font-size: 16px;
        border-radius: 50rem !important;
    }
    /* .search-icon {
        visibility: visible;
    } */
    .search-icon {
        display: inline;
    }
    .fa-search{
        color: rgba(0, 0, 0, .5);
        align-self: center;
        padding: 0px 20px;
        box-sizing: border-box;
        font-size: 20px;
        border: none;
    }
}

@media screen and (max-width : 568px) {
    #header-center {
        display: none;
    }
    header a {
        padding: 5px;
    }
    .profile-icon {
        width: 30px;
        height: 30px;
        margin: 5px;
        border-radius: 50rem !important;
    }
    /* .search-icon {
        visibility: visible;
    } */
    .search-icon {
        display: inline;
    }
    .fa-search {
        color: rgba(0, 0, 0, .5);
        align-self: center;
        padding: 0px 20px;
        box-sizing: border-box;
        font-size: 14px;
        border: none;
    }
}



nav{
    background-image: linear-gradient(to right,var(--primary),var(--blue) );
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 15px;
    list-style-type: none;
    padding: 0;
}

nav a{
    display: block;
    padding: 22px 11px;
}

nav ul a{
    color: var(--white);
}

nav ul a:hover {
    background: var(--blue);
}

.dropdown{
    position: relative;
}

.dropdown-items{
    border-radius: 5px;
    display: none;
    position: absolute;
    background: var(--white);
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .2) ;
    min-width: 180px;
}

.dropdown-items a{
    color: rgba(0, 0, 0, .7);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.dropdown-items a:last-child {
    border-bottom: none;
}
.dropdown-items a:hover {
    color: var(--white);
}
.dropdown:hover .dropdown-items{
    display: block;
}


@media screen and (max-width:768px){
    nav ul{
        display: none;
    }
    .sticky1 {
        position: sticky;
        top: 0;
        left: 0;
        z-index: 1;
    }
}

@media screen and (max-width:992px){
    nav ul span{
        display: none;
    }
}

.card{
    min-height: 200px;
    width: 100%;
    background: white;
    border-radius: 5px;
    box-shadow: -2px 4px 12px 1px rgba(0, 0, 0, .2) ;
    box-sizing: border-box;
    position: relative;
    margin: 0px auto 30px;
}

.card-header{padding: 20px;}
.card-title{
    font-size: 18px;
}

.card-title span{
    font-size: 14px;
    color: grey;
}
.card-body{padding: 14px;}
.card-footer{padding:14px;}

button{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    color: white;
    text-transform: capitalize;
    cursor: pointer;
}

.round{border-radius: 50rem!important;}

.pull-right{float: right;}
.pull-left{float: left;}

.sticky{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}
